# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [1]:
import pandas as pd

In [6]:
banks = pd.read_csv('banklist.csv')

                                           Bank Name                City  ST  \
0                                Fayette County Bank          Saint Elmo  IL
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
2                                     First NBC Bank         New Orleans  LA
3                                      Proficio Bank  Cottonwood Heights  UT
4                      Seaway Bank and Trust Company             Chicago  IL

    CERT                Acquiring Institution Closing Date Updated Date
0   1802            United Fidelity Bank, fsb    26-May-17     1-Jun-17
1  30003  First-Citizens Bank & Trust Company     5-May-17     1-Jun-17
2  58302                         Whitney Bank    28-Apr-17    23-May-17
3  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4  19328                  State Bank of Texas    27-Jan-17    18-May-17

** Show the head of the dataframe **

In [4]:
# CODE HERE

In [7]:
print(banks.head())

                                           Bank Name                City  ST  \
0                                Fayette County Bank          Saint Elmo  IL
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
2                                     First NBC Bank         New Orleans  LA
3                                      Proficio Bank  Cottonwood Heights  UT
4                      Seaway Bank and Trust Company             Chicago  IL

    CERT                Acquiring Institution Closing Date Updated Date
0   1802            United Fidelity Bank, fsb    26-May-17     1-Jun-17
1  30003  First-Citizens Bank & Trust Company     5-May-17     1-Jun-17
2  58302                         Whitney Bank    28-Apr-17    23-May-17
3  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4  19328                  State Bank of Texas    27-Jan-17    18-May-17

** What are the column names? **

In [ ]:
# CODE HERE

In [8]:
print(banks.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [ ]:
# CODE HERE

In [9]:
states = banks['ST'].nunique()
print(f"Number of unique states: {states}")

Number of unique states represented: 44

** Get a list or array of all the states in the data set. **

In [ ]:
# CODE HERE

In [10]:
banks['ST'].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

** What are the top 5 states with the most failed banks? **

In [ ]:
# CODE HERE

In [11]:
state_failed_banks = banks['ST'].value_counts()
state_failed_banks.head(5)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [ ]:
# CODE HERE

In [12]:
acquiring_institutions = banks['Acquiring Institution'].value_counts()
acquiring_institutions.head(5)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [ ]:
# CODE HERE

In [13]:
state_bank_of_texas_acquired = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
num_acquired_by_sbt = state_bank_of_texas_acquired.shape[0]
num_acquired_in_texas = state_bank_of_texas_acquired[state_bank_of_texas_acquired['ST'] == 'TX'].shape[0]
print(f"State Bank of Texas has acquired {num_acquired_by_sbt} banks.")
print(f"Out of those, {num_acquired_in_texas} were located in Texas.")

State Bank of Texas has acquired 3 banks.
Out of those, 1 were located in Texas.

** What is the most common city in California for a bank to fail in?**

In [ ]:
# CODE HERE

In [14]:
california_banks = banks[banks['ST'] == 'CA']
most_common_city_ca = california_banks['City'].value_counts().idxmax()
print(f"The most common city in California for a bank to fail in is: {most_common_city_ca}")

The most common city in California for a bank to fail in is: Los Angeles

** How many failed banks don't have the word "Bank" in their name? **

In [ ]:
# CODE HERE

In [15]:
no_bank_in_name = banks[~banks['Bank Name'].str.contains('Bank', case=False, na=False)]
num_no_bank_in_name = no_bank_in_name.shape[0]
print(f"Number of failed banks that don't have 'Bank' in their name: {num_no_bank_in_name}")

Number of failed banks that don't have 'Bank' in their name: 10

** How many bank names start with the letter 's' ? **

In [ ]:
# CODE HERE

In [18]:
banks_starting_with_s = banks[banks['Bank Name'].str.startswith('S',na=False)]
num_banks_starting_with_s = banks_starting_with_s.shape[0]
print(f"Number of failed banks whose names start with the letter 'S': {num_banks_starting_with_s}")

Number of failed banks whose names start with the letter 'S': 53

** How many CERT values are above 20000 ? **

In [ ]:
# CODE HERE

In [19]:
cert_above_20000 = banks[banks['CERT'] > 20000]
num_cert_above_20000 = cert_above_20000.shape[0]
print(f"Number of CERT values above 20000: {num_cert_above_20000}")

Number of CERT values above 20000: 417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [ ]:
# CODE HERE

In [20]:
two_word_banks = banks[banks['Bank Name'].str.split().str.len() == 2]
num_two_word_banks = two_word_banks.shape[0]
print(f"Number of bank names that consist of exactly two words: {num_two_word_banks}")

Number of bank names that consist of exactly two words: 114

How many banks closed in the year 2008?

In [ ]:
# CODE HERE

In [21]:
banks['Closing Date'] = pd.to_datetime(banks['Closing Date'], errors='coerce')
banks_closed_in_2008 = banks[banks['Closing Date'].dt.year == 2008]
num_banks_closed_in_2008 = banks_closed_in_2008.shape[0]
print(f"Number of banks that closed in 2008: {num_banks_closed_in_2008}")

Number of banks that closed in 2008: 25

C:\Users\FM\AppData\Local\Temp\ipykernel_12516\2586399107.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  banks['Closing Date'] = pd.to_datetime(banks['Closing Date'], errors='coerce')

# GREAT JOB!